.challengeCard {
    min-width: 350px;
    flex: 0 0 270px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
        margin-top: 0;
        margin-bottom: 0.5em;
    }

    p {
        margin-top: 0;
        margin-bottom: 0.5em;
        font-size: 0.9em;
        color: #b8b8b8;
    }
}

@media (max-width: 600px) {
    .challengeCard {
        width: 60vw;
    }
}

.uploadUniqueImage {
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
    margin-top: 0.5em;

    &>img {
        width: 100%;
        height: 100% !important;
        object-fit: cover;
        margin-bottom: 0 !important;
        display: block;
    }

    .remove {
        position: absolute;
        top: 5px;
        right: 5px;
        background-color: rgba(60, 60, 60, 0.8);
        border: none;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: background-color 0.3s ease;
        padding: 0 !important;
    }
}